@mixin boxshadow() {
  box-shadow: 0 0.063em 0.188em rgba(0, 0, 0, 0.12), 0 0.063em 0.125em rgba(0, 0, 0, 0.24);
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

/*
  Global
*/
input[type=text], textarea,
input[type=password]{
  width:25em;
  height: 2em;
  display: block;
  padding: 2px;
  margin-bottom: 1em;
}

textarea{
  width:25em;
  resize: vertical;
  min-height: 10em;
  
}

select{
  width:12em;
  margin-right: 1em;
  margin-bottom: 1em;
}
.signout{
  letter-spacing: normal;
  background: gray;
  width: 93.33px;
  height: 40px;
  float: right;
  text-align: center;
  color: white;
  text-decoration: none;
  line-height: 40px;
  border-radius: 0.3em;
  text-transform: uppercase;
}
input[type=text]:focus, textarea:focus, input[type=password]:focus{
  outline: none;
}

button{
  width: 25em;
    height: 3em;
    background-color: rgb(21, 110, 211);
    border: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    border-radius: 0.2em;
    display: block;
}

.grid-container {
  display: grid;
  grid-template:
    "header"
    "menu"
    "content";
  grid-template-columns: "header" 100vw;
}

.grid-header {
  grid-area: "header";
  background-color: rgb(21, 110, 211);
  height: 5.5em;
  @include boxshadow();
  h1 {
    margin: 0;
    padding: 0;
    width: 10em;
  }
}
.link {
  float: right;
}
.grid-nav {
  grid-area: "menu";
  height: 2.5em;
  line-height: 2.5em;
  background-color: #e0e0e0;
  ul {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      min-width: 3em;
      margin-right: 1em;
      a{
        text-decoration: none;
        color: #0000EE;
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }
}

.grid-content {
  grid-area: "content";
  min-height: 10em;
  padding-top: 2em;
}

.content-center {
  width: 72.5em;
  margin: 0 auto;
}

@media only screen and (max-width: 72.5em) {
  .content-center {
    width: 100vw;
    margin: 0 auto;
  }
}

/*
  Job list
*/

.list {
  width: 70%;
  float: left;
}

.jobLink{
  border-bottom: 1px solid gray;
  margin-bottom: 2em;
  a{
    text-decoration: none;
    color: black;
    p{
      color: gray;
    }
  }
  label{
    margin-right: 1em;
    font-style: italic;
    font-size: 10pt;
  }
}



.sort {
  width: 29%;
  float: right;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      label {
        text-transform: capitalize;
      }
    }
  }
}
/*
  Job
*/

p.job-description {
  width: 80%;
  float: left;
  margin: 0;
  padding: 0;
}

section.job-info {
  width: 19%;
  float: right;
}

/*
  Signup
*/

.signupLink{
  color: #0000EE;
  text-decoration: none;
  font-style: italic;
  font-size: 10pt;
 
}
.signupLink:hover{
  text-decoration: underline;
}